---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">
	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Drasti Gohel</h1>
			<span class="hero_one_liner">
				Powering progress with transformative software solutions.
			</span>
			<p class="hero__text">
				Innovative developer excelling in high-performance web
				applications, seamless migrations, and powerful automation.
			</p>
			<Boton href="#about" texto="Know More" />
		</div>
		<img
			class="hero__img"
			src="/img/DG.jpg"
			alt="Drasti Gohel"
			width="384"
			height="384"
		/>
	</div>
</section>
