---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import './about.css';
---

<section id="about" class="about">
	<div class="about__container">
		<img class="about__img" src="/img/DG_close.jpg" alt="Drasti Gohel" />

		<div class="about__content">
			<Title margin="1rem" contenido="About Me" />
			<p class="about__text">
				I am a seasoned developer with a proven track record in .Net and
				.Net Core, known for crafting high-performance web applications
				and upholding impeccable coding standards. Masterful in OOP
				principles and excel in codebase management, seamless
				migrations, and optimizations. My expertise spans GitHub and
				Azure for security, automation, and operations.I leverage Python
				for ETL, data integration, and web scraping. My technical
				prowess includes Java, C#, Selenium WebDriver, and CI tools like
				Maven and GIT Subversion, driving impactful automation and
				flawless cross-browser functionality.
			</p>
			<SocialIcons width="25" height="25" />
		</div>
	</div>
</section>
