---
import RsvpForm from '../components/RSVP/RSVPForm';
import Layout from "../layouts/Layout.astro";
---

<Layout title="RSVP | Diwali">
  <h1 class="text-xl">RSVP</h1>
  <RsvpForm client:load />
</Layout>

